@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

body {
    background-color: #E1DEDE;;
    margin: 0%;
    height: 100vh; 
    font-size: 1rem;
    background-position: center;
}   

.entrada{
    display: flex;
    background-color: #00D32E;
    background-position: center;
    padding-top: 4px;
    padding-left: 0px 55px;
    padding-left: 55px;
    width: 22rem;
    height: 1.2rem;
    
}

.slogan{  
    font-family: 'Spinnaker', sans-serif;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;

    padding-top: 120px;
    text-align: center;
    
} 

/* Frame para mexer no geral */
.frame-base {
    display: flex;
    flex-direction: column;
    font-family:  'Montserrat', sans-serif;;
    font-size: 1.1rem;
    background-color: #F6F3F3;
    width: 18rem;
    height: 1.5rem;
    margin-top: 20px;
    border-radius: 15px;
    padding-bottom: 1px;
    background-position: center;
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
}

.frame-1 {
    font-size: 1rem;
    margin-top: 160px;
    margin-bottom: 5px;
    height: 25px;
    background-position: center;
}

/* .frame-2 {
    /* empty */
 */

.container{
    background-position: center;
    flex-direction: column;
    text-align: center;
    font-size: 0.75rem;
    /* margin: 0 auto; */
    width: 1rem;
    /* justify-content: center; */
    display: inline-block;
}

.botao-entrar{
    display: flex;
    background-position: center;
    font-size: 1rem;
    flex-direction: column;
    font-family:  'Montserrat', sans-serif;
    width: 5.5rem;
    height: 1.6rem;
    margin-left: 36.5%;
    margin-top: 13px;
    padding-bottom: 5%;
    background-color: #F6F3F3;
    border-radius: 15px;
   
   
}

.tag-ancora{  
    display: flex;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.82rem;
    margin-top: 15px;
    padding-left: 125px;
}

.lista-ajuda{ 
    display: none;
    position: absolute;
    /* background-position: center; */
}

/* Se container__botao for 'cheked'.... ("Ternario") */
.container__botao:checked ~ .lista-ajuda{
    display: block;
    /* background-position: center; */
}

.container__botao{
    display: none;
    background-position: center;
}

.link_instagram{
    text-decoration: none;
}

.link_whatsapp{
    text-decoration: none;
}

.footer{
    display: flex;
    background-position: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.65rem;
    background-color: #00D32E;
    margin-top: 8.7em;
    padding-left: 60px;
    width: 22rem;
    height: 1.2rem;    
}















